<% for(var i=0, venLen = venues.length; i < venLen; i++) { %>
    <% for(var j=0, divLen = venues[i].length; j < divLen; j++) { %>
    <h3>Division <%= venues[i][j][0].division %>  Venue <%= venues[i][j][0].venue %></h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Team</th>
                <th><a href="/problem/<%= probNum %>?sort=longTerm">Longterm</a>
                </th>
                <th><a href="/problem/<%= probNum %>?sort=spontaneous">Spontaneous</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(var k=0, teamLen = venues[i][j].length; k < teamLen; k++) { %>
                <tr class="<%- (venues[i][j][k].scoresReady && !venues[i][j][k].scoresPickedUpByCoach) ? ' warning ': '' %><%- (venues[i][j][k].noShow) ? ' danger ' : ''%>">
                    <td>
                        <a href="/team/show/<%= venues[i][j][k].id %>">
                            <%= venues[i][j][k].schoolName %>
                                <% if(venues[i][j][k].teamLetter) { %>
                                    :
                                    <%= venues[i][j][k].teamLetter %>
                                        <% } %>
                        </a>
                        <br>
                        <%= venues[i][j][k].membershipNumber %>
                    </td>
                    <td class="autoFit">
                        <%if (!venues[i][j][k].performed) { %>
                            <%= Utils.getTime(venues[i][j][k].longtermTime) %>
                        <% } else { %>
                            <span class="glyphicon glyphicon-ok"></span>
                        <% } %>
                    </td>
                    <td class="autoFit">
                        <%if (!venues[i][j][k].sponCompleted) { %>
                            <%= Utils.getTime(venues[i][j][k].sponTime) %>
                        <% } else { %>
                            <span class="glyphicon glyphicon-ok"></span>
                        <% } %>
                    </td>
                    <% if(Utils.hasRole(session.user, 'registration')) { %>
                        <td class="autoFit">
                            <a data-toggle="collapse" href="#collapseExample" data-target="#collapseme<%= venues[i][j][k].id %>" aria-expanded="false" aria-controls="collapseme<%= venues[i][j][k].id %>" class="btn btn-default btn-xs">
                              <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </td>
                        <% } %>
                </tr>
                <tr id="collapseme<%= venues[i][j][k].id %>" class="collapse out active">
                    <td colspan="4">
                        <div>
                            <a class="btn btn-success btn-xs" href="/team/checkIn/<%= venues[i][j][k].id %>?problem=<%= probNum %>">Check-in</a>
                             <button type="submit" class="btn btn-warning btn-xs" name="flag" value="noShow">No Show</button>
      <button type="submit" class="btn btn-default btn-xs" name="flag" value="performed">Performed</button>
      <button type="submit" class="btn btn-default  btn-xs" name="flag" value="scoresReady">Scores Ready</button>
      <button type="submit" class="btn btn-default  btn-xs" name="flag" value="scoresPickedUpByCoach">Coach Picked Up Scores</button>
      <button type="submit" class="btn btn-default  btn-xs" name="flag" value="scoresPickedUpByScoreRoom">Score Room Picked Up Scores</button>
                        </div>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <% } %>
    <% } %>
