<% for(var i=0 ; i < venues.length; i++) { %>
    <h3>Venue <%= venues[i][0].venue %></h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Membership #</th>
                <th>Team</th>
                <th><a href="/problem/<%= probNum %>?sort=longTerm">Longterm</a>
                </th>
                <th><a href="/problem/<%= probNum %>?sort=spontaneous">Spontaneous</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for(var j=0 ; j < venues[i].length; j++) { %>
                <tr class="<%- (venues[i][j].scoresReady) ? ' warning ': '' %><%- (venues[i][j].noShow) ? ' danger ' : ''%>">
                    <td>
                        <%= venues[i][j].membershipNumber %>
                    </td>
                    <td>
                        <a href="/team/show/<%= venues[i][j].id %>">
                            <%= venues[i][j].schoolName %>
                                <% if(venues[i][j].teamLetter) { %>
                                    :
                                    <%= venues[i][j].teamLetter %>
                                        <% } %>
                        </a>
                        <br>
                        <%= venues[i][j].division %>
                    </td>
                    <td>
                        <%if (!venues[i][j].performed) { %>
                            <%= Utils.getTime(venues[i][j].longtermTime) %>
                        <% } else { %>
                            <span class="glyphicon glyphicon-ok"></span>
                        <% } %>
                    </td>
                    <td>
                        <%if (!venues[i][j].sponCompleted) { %>
                            <%= Utils.getTime(venues[i][j].sponTime) %>
                        <% } else { %>
                            <span class="glyphicon glyphicon-ok"></span>
                        <% } %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <% } %>
