<!-- Registration Flag -->

<!-- Venue Flags -->
<% if(team.performed) { %>
	Performed at : <%= Utils.getTime(team.performed) %>
	<% if( Utils.isValidUserForProblem(team, session.user)) { %>
		<a href="/team/removeFlag/<%= team.id %>?flag=performed">Remove</a>
	<% } %>
	<br>
<% } %>

<% if(team.scoresReady) { %>
	Scores ready at : <%= Utils.getTime(team.scoresReady) %>
	<% if( Utils.isValidUserForProblem(team, session.user)) { %>
		<a href="/team/removeFlag/<%= team.id %>?flag=scoresReady">Remove</a>
	<% } %>
	<br>
<% } %>

<% if(team.scoresPickedUpByCoach) { %>
	Scores picked up by coach at : <%= Utils.getTime(team.scoresPickedUpByCoach) %>
	<% if( Utils.isValidUserForProblem(team, session.user)) { %>
		<a href="/team/removeFlag/<%= team.id %>?flag=scoresPickedUpByCoach">Remove</a>
	<% } %>
	<br>
<% } %>

<% if(team.scoresPickedUpByScoreRoom) { %>
	Scores picked up by scoreroom at : <%= Utils.getTime(team.scoresPickedUpByScoreRoom) %>
	<% if( Utils.isValidUserForProblem(team, session.user)) { %>
		<a href="/team/removeFlag/<%= team.id %>?flag=scoresPickedUpByScoreRoom">Remove</a>
	<% } %>
	<br>
<% } %>

<!-- Score Room Flags -->
<% if(team.scoresAccepted) { %>
	Scores accepted by scoreroom at : <%= Utils.getTime(team.scoresAccepted) %>
	<% if( Utils.hasRole(session.user, 'scoreRoom')) { %>
		<a href="/team/removeFlag/<%= team.id %>?flag=scoresAccepted">Remove</a>
	<% } %>
	<br>
<% } %>

<!-- Spontaneous Flags -->
<% if(team.sponCheckedIn) { %>
	Spontaneous checked in at : <%= Utils.getTime(team.sponCheckedIn) %>
	<% if( Utils.hasRole(session.user, 'spontaneous')) { %>
		<a href="/team/removeFlag/<%= team.id %>?flag=sponCheckedIn">Remove</a>
	<% } %>
	<br>
<% } %>
<% if(team.sponCompleted) { %>
	Spontaneous completed at : <%= Utils.getTime(team.sponCompleted) %>
	<% if( Utils.hasRole(session.user, 'spontaneous')) { %>
		<a href="/team/removeFlag/<%= team.id %>?flag=sponCompleted">Remove</a>
	<% } %>
	<br>
<% } %>