<div class="col-xs-12" >
    <% if(flash && flash.err){ %>
        <ul class="alert alert-warning">
            <% Object.keys(flash.err).forEach(function(error) { %>
                <li>
                    <%- JSON.stringify(flash.err[error]) %>
                </li>
            <% }) %>
        </ul>
    <% } %>
</div>
<div class="col-md-3"></div>
<div class="col-md-6 col-xs-12">
    <form action="/team/create" method="POST">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Add A Team</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="schoolName">School Name</label>
                    <input type="text" class="form-control" placeholder="School Name" name="schoolName">
                </div>
                <div class="form-group">
                    <label for="teamLetter">Team Letter</label>
                <input type="text" class="form-control" placeholder="Team Letter" name="teamLetter">
                </div>
                <div class="form-group">
                    <label for="membershipNumber">Membersip Number</label>
                    <input type="text" class="form-control" placeholder="Membership Number" name="membershipNumber">
                </div>
                <div class="form-group">
                    <label for="problem">Problem</label>
                    <!-- Add Dropdown for problem -->
                    <select name="problem" class="form-control" id="problem">
                        <option value="P" <%= (problem == 'P') ? 'selected': '' %> >Primary</option>
                        <option value="1" <%= (problem == '1') ? 'selected': '' %> >Problem 1</option>
                        <option value="2" <%= (problem == '2') ? 'selected': '' %> >Problem 2</option>
                        <option value="3" <%= (problem == '3') ? 'selected': '' %> >Problem 3</option>
                        <option value="4" <%= (problem == '4') ? 'selected': '' %> >Problem 4</option>
                        <option value="5" <%= (problem == '5') ? 'selected': '' %> >Problem 5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="division">Division</label>
                    <!-- Add Dropdown for Division -->
                    <select name="division" class="form-control" id="division">
                        <option value="1">Division I</option>
                        <option value="2">Division II</option>
                        <option value="3">Division III</option>
                        <option value="4">Division IV</option>
                        <option value="P">Primary</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="venue">Venue</label>
                    <input type="text" class="form-control" placeholder="Venue" name="venue">
                </div>
                <div class="form-group">
                    <label class="control-label" for="longtermTime">Longterm Time</label>
                    <div class='input-group date' id='longtermTimePicker'>
                        <input type='text' class="form-control" name="longtermTime" placeholder="Longterm Time"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sponTime">Spontaneous Time</label>
                    <div class='input-group date' id='sponTimePicker'>
                        <input type='text' class="form-control" name="sponTime" placeholder="Spontaneous Time"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <input type="submit" class="btn btn-success btn-primary btn-block" value="Create Team" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    <% if(problem) { %>
        window.onload=function () {
            $("#p<%= problem %>Link").addClass('active');
        };
    <% } %>
</script>

<% block('localScripts', 
    '<script src="/js/moment.min.js"></script> ' +
    '<script src="/js/bootstrap-datetimepicker.min.js"></script> ' +
    '<script src="/js/team/new.js"></script>') %>