<div class="row">
	<div class="col-md-6 col-md-offset-3 col-xs-12">
	    <div class="panel panel-default">
	        <div class="panel-heading">
	            <h3>Team Info</h3>
	        </div>
	    	 <ul class="list-group">
				<li class="list-group-item">
					<table class="table">
						<tbody>
							<tr><th>School Name</th><td><%= team.schoolName %></td></tr>
							<% if(team.teamLetter) { %>
								<tr><th>Team Letter</th><td><%= team.teamLetter %></td></tr>
							<% } %>
							<tr><th>Membership Number</th><td><%= team.membershipNumber %></td></tr>
							<tr><th>Problem</th><td><%= team.problem %></td></tr>
							<tr><th>Division</th><td><%= team.division %></td></tr>
							<tr><th>Venue</th><td><%= team.venue %></td></tr>
							<tr><th>Longterm Time</th><td><%= Utils.getTime(team.longtermTime) %></td></tr>
							<tr><th>Spontaneous Time</th><td><%= Utils.getTime(team.sponTime) %></td></tr>
						</tbody>
					</table>
				</li>
				<% if(session.authenticated && session.user && Utils.hasFlags(team)) { %>
				<li class="list-group-item">
					<%- partial('flagStatus.ejs') %>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
			<% if(session.authenticated && session.user) { %>
			<div class="well">
		    	<%- partial('setFlags.ejs') %>
		    	<% if( Utils.hasRole(session.user, 'scoreRoom')) { %>
					<br>
					<a class="btn btn-warning btn-xs" href="/team/edit/<%= team.id %>">
						<span class="glyphicon glyphicon-pencil"></span> Edit Team
					</a>  
					<a class="btn btn-danger btn-xs" href="/team/destroy/<%= team.id %>">
						<span class="glyphicon glyphicon-trash"></span> Delete Team
					</a>
				<% } %>
			</div>
			<% } %>
	</div>
</div>

<script type="text/javascript">
window.onload=function () {
    $("#p<%= team.problem %>Link").addClass('active');
};
</script>