<div class="row">
	<div class="col-md-6 col-md-offset-3">
	 <div class="panel panel-default">
        <div class="panel-heading">
            Team Info
        </div>
        <table class="table table-responsive table-striped" data-bind='with: team'>
			<tbody>
				<tr>
					<th>School Name</th>
					<td><span data-bind='text: schoolName'></span></td>
				</tr>
				<% if(team.teamLetter) { %>
					<tr>
						<th>Team Letter</th>
						<td><span data-bind='text: teamLetter'></td>
					</tr>
				<% } %>
				<tr>
					<th>Membership Number</th>
					<td><span data-bind='text: membershipNumber'></td>
				</tr>
				<tr>
					<th>Problem</th>
					<td><span data-bind='text: problem'></td>
				</tr>
				<tr>
					<th>Division</th>
					<td><span data-bind='text: division'></td>
				</tr>
				<tr>
					<th>Venue</th>
					<td><span data-bind='text: venue'></td>
				</tr>
				<tr>
					<th>Longterm Time</th>
					<td>
						<span data-bind="date: longtermTime, format: 'h:mm a'"></span>
					</td>
				</tr>
				<tr>
					<th>Spontaneous Time</th>
					<td>
						<span data-bind="date: sponTime, format: 'h:mm a'"></span>
					</td>
				</tr>
				<tr  data-bind="visible: $parent.showRow('checkedIn')">
					<td>Checked in at</td>
					<td>
						<span data-bind="date: checkedIn, format: 'h:mm a'"></span>
						<a href="/team/removeFlag/<%= team.id %>?flag=scoresPickedUpByCoach">Remove</a>
					</td>
				</tr>
				<tr  data-bind="visible: $parent.showRow('performed')">
					<td>Performed at</td>
					<td>
						<span data-bind="date: performed, format: 'h:mm a'"></span>
					</td>
				</tr>
				<tr  data-bind="visible: $parent.showRow('scoresReady')">
					<td>Scores ready at</td>
					<td>
						<span data-bind="date: scoresReady, format: 'h:mm a'"></span>
					</td>
				</tr>
				<tr  data-bind="visible: $parent.showRow('scoresPickedUpByCoach')">
					<td>Scores picked up by coach at</td>
					<td>
						<span data-bind="date: scoresPickedUpByCoach, format: 'h:mm a'"></span>
					</td>
				</tr>
				<tr  data-bind="visible: $parent.showRow('scoresAccepted')">
					<td>Scores accepted by scoreroom at</td>
					<td>
						<span data-bind="date: scoresAccepted, format: 'h:mm a'"></span>
					</td>
				</tr>
				<tr  data-bind="visible: $parent.showRow('sponCheckedIn')">
					<td>Spontaneous checked in at</td>
					<td>
						<span data-bind="date: sponCheckedIn, format: 'h:mm a'"></span>
					</td>
				</tr>
				<tr  data-bind="visible: $parent.showRow('sponCompleted')">
					<td>Spontaneous completed at</td>
					<td>
						<span data-bind="date: sponCompleted, format: 'h:mm a'"></span>
					</td>
				</tr>
			</tbody>
		</table>		
		<% if(session.authenticated && session.user) { %>
			<div class="panel-body">
				<div >
			    	<%- partial('setFlags.ejs') %>
			    	<% if( Utils.hasRole(session.user, 'scoreRoom')) { %>
						<br>
						<a class="btn btn-warning btn-xs" href="/team/edit/<%= team.id %>">
							<span class="glyphicon glyphicon-pencil"></span> Edit Team
						</a>  
						<a class="btn btn-danger btn-xs" href="/team/destroy/<%= team.id %>">
							<span class="glyphicon glyphicon-trash"></span> Delete Team
						</a>
					<% } %>
				</div>
			</div>
		<% } %>
	</div>
</div>


<script type="text/javascript" src="/js/lib/require.js"></script>
<script type="text/javascript">
	require(['/js/app/common_settings.js'], function(common) {
		require(['knockout', 'app/team_show/viewModel'], function(ko, vm) {
			ko.applyBindings(new vm('<%- team.id %>', 'problem1'));			
		});
	});
</script>