<h1>Team Info</h1>
<table border=1>
	<tbody>
		<tr><td>School Name</td><td><%= team.schoolName %></td></tr>
		<% if(team.teamLetter) { %>
			<tr><td>Team Letter</td><td><%= team.teamLetter %></td></tr>
		<% } %>
		<tr><td>Membership Number</td><td><%= team.membershipNumber %></td></tr>
		<tr><td>Problem</td><td><%= team.problem %></td></tr>
		<tr><td>Division</td><td><%= team.division %></td></tr>
		<tr><td>Venue</td><td><%= team.venue %></td></tr>
		<tr><td>Longterm Time</td><td><%= moment(team.longtermTime).format('h:mm a')  %></td></tr>
		<tr><td>Spontaneous Time</td><td><%= moment(team.sponTime).format('h:mm a')  %></td></tr>
	</tbody>
</table>

<% if(team.checkedIn) { %>
	Checked in at : <%= moment(team.checkedIn).format('h:mm a') %><br>
<% } %>

<% if(team.performed) { %>
	Performed at : <%= moment(team.performed).format('h:mm a') %><br>
<% } %>

<% if(team.scoresReady) { %>
	Scores ready at : <%= moment(team.scoresReady).format('h:mm a') %><br>
<% } %>

<% if(team.scoresPickedUpByCoach) { %>
	Scores picked up by coach at : <%= moment(team.scoresPickedUpByCoach).format('h:mm a') %><br>
<% } %>

<% if(team.scoresPickedUpByScoreRoom) { %>
	Scores picked up by scoreroom at : <%= moment(team.scoresPickedUpByScoreRoom).format('h:mm a') %><br>
<% } %>
<% if(team.scoresAccepted) { %>
	Scores accepted by scoreroom at : <%= moment(team.scoresAccepted).format('h:mm a') %><br>
<% } %>
<% if(team.sponCheckedIn) { %>
	Spontaneous checked in at : <%= moment(team.sponCheckedIn).format('h:mm a') %><br>
<% } %>
<% if(team.sponCompleted) { %>
	Spontaneous completed at : <%= moment(team.sponCompleted).format('h:mm a') %><br>
<% } %>

<FORM action="/team/flag/<%= team.id %>" method="post">
<% if(!team.checkedIn) { %>
	Registration: 
	<INPUT type="submit" name="eventButton" value="checkedIn"> <br>
<% } %>
<% if(!(team.performed || team.scoresReady || team.scoresPickedUpByCoach || team.scoresPickedUpByScoreRoom)) { %>
	Venue: 
<% } %>
<% if(!team.performed) { %>
	<INPUT type="submit" name="eventButton" value="performed">
<% } %>
<% if(!team.scoresReady) { %>
	<a href=""></a><INPUT type="submit" name="eventButton" value="scoresReady">
<% } %>
<% if(!team.scoresPickedUpByCoach) { %>
	<a href=""></a><INPUT type="submit" name="eventButton" value="scoresPickedUpByCoach">
<% } %>
<% if(!team.scoresPickedUpByScoreRoom) { %>
	<a href=""></a><INPUT type="submit" name="eventButton" value="scoresPickedUpByScoreRoom"> <br>
<% } %>
<% if(!team.scoresAccepted) { %>
	Score Room:
	<a href=""></a><INPUT type="submit" name="eventButton" value="scoresAccepted"><br>
<% } %>
<% if(!(team.sponCheckedIn || team.sponCompleted)) { %>
	Spontaneous: 
<% } %>
<% if(!team.sponCheckedIn) { %>
	<a href=""></a><INPUT type="submit" name="eventButton" value="sponCheckedIn">
<% } %>
<% if(!team.sponCompleted) { %>
	<a href=""></a><INPUT type="submit" name="eventButton" value="sponCompleted">
<% } %>
</FORM>

<a href="/team/edit/<%= team.id %>">Edit Team</a>