<h1>Team Info</h1>
<table border=1>
	<tbody>
		<tr><td>School Name</td><td><%= team.schoolName %></td></tr>
		<% if(team.teamLetter) { %>
			<tr><td>Team Letter</td><td><%= team.teamLetter %></td></tr>
		<% } %>
		<tr><td>Membership Number</td><td><%= team.membershipNumber %></td></tr>
		<tr><td>Problem</td><td><%= team.problem %></td></tr>
		<tr><td>Division</td><td><%= team.division %></td></tr>
		<tr><td>Venue</td><td><%= team.venue %></td></tr>
		<tr><td>Longterm Time</td><td><%= Utils.getTime(team.longtermTime) %></td></tr>
		<tr><td>Spontaneous Time</td><td><%= Utils.getTime(team.sponTime) %></td></tr>
	</tbody>
</table>
<% if(session.authenticated && session.user) { %>

	<%- partial('flagStatus.ejs') %>

	<%- partial('setFlags.ejs') %>

	<% if( Utils.hasRole(session.user, 'scoreRoom')) { %>
	<a class="btn btn-warning" href="/team/edit/<%= team.id %>">Edit Team</a>  <a class="btn btn-danger" href="/team/destroy/<%= team.id %>">Delete Team</a>
	<% } %>

<% } %>

<script type="text/javascript">
window.onload=function () {
    $("#p<%= team.problem %>Link").addClass('active');
};
</script>