<div class='container'>
	<h1><%= user.name %> </h1>
	<h3><%= user.email %> </h3>
	<hr>
	<h4>Roles</h4>
	<% for(var i = 0; i < user.roles.length; i++) { %>
		<%= user.roles[i] %> <br>
	<% } %>

	<br>
	<a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
	<a class="btn btn-medium btn-primary" href="/user/destroy/<%= user.id %>">Delete</a>
	
</div>